body{ background-color:rgba(236, 175, 221, 0.473)}
#capa{text-align: center; border:solid rgb(192, 50, 145);} 
#odsintroducao{ text-align: justify; color: rgb(68, 15, 73); margin: 20px 10px 20px;}
#part1{text-align: justify; margin: 20px 10px 20px;}
img{ height: 75px; box-sizing: border-box;}
h1{ text-align: center; color: rgb(55, 7, 133);}
h2{ text-align:center; color: rgb(201, 84, 84);}
h3{text-align: center; color:rgb(77, 9, 90) ;}
h4{text-align: center; color: rgb(151, 18, 62);}
p{ color: rgb(68, 15, 73);}